{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    // "airbnb-typescript",
    // "eslint:recommended",
    // "plugin:@typescript-eslint/eslint-recommended",
    // "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "ignorePatterns": [
    "*.mjs",
    "*.js"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none"
      }
    ],
    "@typescript-eslint/ban-ts-comment": "off",
    "no-prototype-builtins": "off",
    "@typescript-eslint/no-empty-function": "off",
    "prettier/prettier": "error",
    "import/no-unresolved": "off",
    "no-new": "off",
    "no-console": "off",
    "import/extensions": "off",
    "class-methods-use-this": "off",
    "no-useless-constructor": "off",
    "no-empty-function": "off"
  }
}