/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.nx-settings {
  margin: 2rem 0;
}

.nx-settings .nx-setting_group {
  margin: 2rem 0;
}

.nx-settings .nx-setting_group_title {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.nx-statusBar {
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}

.nx-statusBar_orange {
  background: #ff833178;
}

.nx-statusBar_green {
  background: #15ff0070;
}
